<!doctype html>
<html>
    <head>
        <title>Not Found</title>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <main>
            <header>
                <h1>404 : Not Found</h1>
            </header>
            <div style="padding: 1rem">
                <p style="font-weight: 600; font-size: 2rem;">
                    Page Not Found. 
                    <a href="/app">Click here</a> to go back to the homepage.
                </p>
            </div>
        </main>
    </body>
</html>