<!doctype html>
<html>
    <head>
        <title>My Routine</title>
        <!-- <link rel="stylesheet" href="../static/index.css"> -->
    </head>
    <body>
        <main>
            <header>
                <h1>Your Routines</h1>
                <p>Select a routine or create a new one.</p>
            </header>
            <div id="routine-div">
                <p class="routine-btn"><a href="#">Routine 1</a></p>
                <p class="routine-btn"><a href="#">Routine 2</a></p>
                <p class="routine-btn"><a href="#">Routine 3</a></p>
                <p class="routine-btn"><a href="#">Routine 4</a></p>
                <p class="routine-btn"><a href="#">Routine 5</a></p>
                <p class="routine-btn"><a href="#">Routine 6</a></p>
            </div>
            <div class=homepage-btn-div>
                <p class="homepage-btn"><a href="/app/routine/create">Create Routine</a></p>
            </div>
        </main>
    </body>
</html>