<!doctype html>
<html>
    <head>
        <title>My Routine</title>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <main>
            <header>
                <h1>Your Routines</h1>
                <p>Select a routine or create a new one.</p>
            </header>
            <div id="routine-btns-div">
                <p>You don't have any routines. <a href="/app/routine/create" style="text-decoration: underline;">Make one now</a></p>
            </div>
            <div class=homepage-btn-div>
                <button id="create-routine-btn" class="homepage-btn">Create Routine</button>
            </div>
        </main>
        <script src="../static/index.js"></script>
    </body>
</html>