<!doctype html>
<html>
    <head>
        <title>My Routine</title>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <main>
            <header>
                <h1>Your Routines</h1>
                <p>Select a routine or create a new one.</p>
            </header>
            <div id="routine-div">
                <p class="routine-btn">Routine 1</p>
                <p class="routine-btn">Routine 2</p>
                <p class="routine-btn">Routine 3</p>
                <p class="routine-btn">Routine 4</p>
                <p class="routine-btn">Routine 5</p>
                <p class="routine-btn">Routine 6</p>
            </div>
            <div class=homepage-btn-div>
                <p id="create-routine-btn" class="homepage-btn">Create Routine</p>
            </div>
        </main>
    </body>
</html>