<!doctype html>
<html>
    <head>
        <title>Run Routine</title>
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <main>
            <header>
                <h1 id="page-h1">Routine 0</h1>
                <p>Check off steps in your routine.</p>
            </header>
            <div class="main-div">
                <form id="running-steps-form" class="steps-form">
                    <fieldset>
                        <div class="running-step">
                            <label for="running-step-1">Step 1</label>
                            <input id="running-step-1" type="checkbox">
                        </div>
                        <div class="running-step">
                            <label for="running-step-2">Step 2</label>
                            <input id="running-step-2" type="checkbox">
                        </div>
                        <div class="running-step">
                            <label for="running-step-3">Step 3</label>
                            <input id="running-step-3" type="checkbox">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class=homepage-btn-div>
                <button id="cancel-btn" class="routine-page-btn">Cancel</button>
                <button id="save-btn" class="routine-page-btn">Save</button>
            </div>
        </main>
        <script src="/static/routine.js"></script>
    </body>
</html>